@import "../../mixin";

.menu-mobile-wrapper {
  // position: fixed;
  z-index: 100;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;

  .menu-mobile-logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .menu-mobile-logo {
      transition: 0.2s opacity ease;
      max-width: 15rem;
      margin-bottom: 0.75rem;
  
      &:hover {
        opacity: 0.7;
      }
    }

    .menu-mobile-powered-holochain {
      max-width: 18rem;
    }
  }



  .menu-mobile-nav-socials {
    display: flex;
    flex-direction: column;
    align-items: flex-start;


    .menu-mobile-nav {
      margin-bottom: 2rem;
      padding: 1rem;

      li {
        list-style: none;
        margin-bottom: 1rem;

        a {
          text-decoration: none;
          font-family: var(--font-family-primary-bold);
          color: var(--color-text-p);
          font-size: 2rem;
          cursor: pointer;
          transition: 0.2s all ease;
          border-bottom: 0.15rem solid transparent;

          @include media-down(tablet) {
            font-size: 1.625rem;
          }

          @include media-down(mobile) {
            font-size: 1.5rem;
          }

          &:hover {
            text-shadow: 0 0 0.5rem var(--color-text-glow);
            border-bottom: 0.25rem solid var(--color-text-p);
            transform: translateX(1rem);
          }
        }
      }
    }

    .social-links-wrapper.mobile {
      flex-direction: column;
      margin-top: 0;
      a {
        font-size: 1.375rem;
        margin-bottom: 0.5rem;
      }
    }
  }

  .menu-mobile-close-button {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    cursor: pointer;
    padding: 1rem;

    .close-icon {
      width: 1.75rem;
      height: 1.75rem;

      transition: opacity 0.2s ease;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}

/* Mobile Menu Animation */
.menu-mobile-list-wrapper {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

// Mobile Menu CSS Transition

.menu-mobile-animation-enter {
  opacity: 0;
}
.menu-mobile-animation-enter-active {
  opacity: 1;
  transition: opacity 0.1s ease-in;
  z-index: 1;
}
.menu-mobile-animation-enter-done {
  opacity: 1;
  z-index: 1;
}
.menu-mobile-animation-exit {
  opacity: 1;
  z-index: 1;
}
.menu-mobile-animation-exit-active {
  opacity: 0;
  transition: opacity 0.1s ease-out;
}

.menu-mobile-nav-wrapper {
  width: calc(100vw - 2rem);
  height: calc(100vh - 2rem);
  background-color: var(--color-button-bg);
  box-shadow: 0 0 1rem var(--color-button-shadow);
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
  position: relative;
  text-align: center;
}
