@import "../../mixin";

.about-acorn-features-wrapper {
  position: relative;
  flex: 1;
  max-width: 72rem;
 
  // overflow-y: scroll;

  .about-acorn-feature-wrapper {
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 75vh;

    &.feature-slide-2,
    &.feature-slide-4 {
      flex-direction: row-reverse;

      .acorn-feature-content-wrapper {
        margin-left: 4rem;
        margin-right: 0rem;
      }
    }

    .acorn-feature-content-wrapper {
      width: 50%;
      margin-right: 4rem;

      .acorn-feature-surtitle {
        font: 0.9rem var(--font-family-primary-bold);
        color: var(--colot-text-accent);
        opacity: 0.8;
        margin-bottom: 0.75rem;

        @include media-down(small-mobile) {
          display: none;
        }
      }

      a.acorn-feature-link {
        display: block;
        width: fit-content;
      }
    }

    .acorn-feature-visual-wrapper {
      flex: 1;
      object-fit: contain;

      .feature-visual {
        object-fit: contain;
        max-width: 100%;

        @include media-down(tablet) {
          max-height: 50vh;
        }

        img {
          flex: 1;
        }

        &.framed {
          border-radius: 1rem;
          box-shadow: 0 0 1rem var(--color-button-shadow);
        }
      }

      // if tabbedVisuals
      .acorn-feature-visual-tabs {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: row;
        margin-left: 0.2rem;

        .acorn-feature-visual-tab-item {
          padding: 0.125rem;
          font-family: var(--font-family-primary-bold);
          font-size: 0.9rem;
          cursor: pointer;
          opacity: 0.4;
          border-bottom: 0.15rem solid var(--color-text-h1);
          margin-right: 2rem;
          transition: opacity 0.2s ease;

          &:hover {
            opacity: 1;
          }

          &.active {
            opacity: 1;
          }
        }
      }
    }

    @include media-down(large) {
      .acorn-feature-content-wrapper {
        margin-right: 3rem;
      }
    }

    @include media-down(tablet) {
      .acorn-feature-content-wrapper {
        margin-left: 0;
      }
    }

    @include media-down(mobile) {
      flex-direction: column;
      height: fit-content;

      &.feature-slide-2,
      &.feature-slide-4 {
        flex-direction: column;
  
        .acorn-feature-content-wrapper {
          margin-left: 0;
        }
      }

      .acorn-feature-content-wrapper {
        width: 100%;
        margin-bottom: 1.5rem;
        margin-right: 0;
      }

      &.feature-slide-3 {
        .feature-visual {
          max-height: 40vh;
        }
      }
      .feature-visual {
        max-height: 50vh;

        &.framed {
          max-height: 45vh;
        }
      }
    }

    @include media-down(small-mobile) {
      .acorn-feature-content-wrapper {
        margin-bottom: 1rem;
      }
    }
  }

  .about-acorn-feature-animation-enter {
    opacity: 0;
  }
  .about-acorn-feature-animation-enter-active {
    opacity: 1;
    transition: opacity 0.1s ease-in;
    z-index: 1;
  }
  .about-acorn-feature-animation-enter-done {
    opacity: 1;
    z-index: 1;
  }
  .about-acorn-feature-animation-exit {
    opacity: 1;
    z-index: 1;
  }
  .about-acorn-feature-animation-exit-active {
    opacity: 0;
    transition: opacity 0.1s ease-out;
  }
}
