@import "../../mixin";

header {
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  // flex: 1 auto;
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include media-down(tablet) {
    padding: 1rem;
    width: 100vw;
    box-sizing: border-box;
  }

  a.logo {
    h1 {
      margin: 0;
    }

    .acorn-logo-wrapper {
      @include media-down(tablet) {
        margin-left: 1rem;
      }

      .acorn-logo {
        width: 8rem;
      }
    }
  }

  // Nav Menu
  .header-menu-desktop {
    display: flex;
    flex-direction: row;
    justify-content: right;
    flex: 1;

    li {
      list-style: none;

      @include media-down(tablet) {
        display: none;
      }

      a {
        text-decoration: none;
        font-family: var(--font-family-primary-bold), sans-serif;
        color: var(--color-text-p);
        font-size: 1rem;
        cursor: pointer;
        transition: 0.2s all ease;
        border-bottom: 0.15rem solid transparent;

        &:not(:last-child) {
          margin-right: 2.25rem;
        }

        &.header-menu-item {
          @include media-down(mobile) {
            display: none;
          }
        }

        svg {
          margin-left: 0.25rem;
          height: 1rem;
          width: 1rem;
        }

        &:hover {
          text-shadow: 0 0 0.5rem var(--color-text-glow);
          border-bottom: 0.15rem solid var(--color-text-p);
          transform: translateX(1rem);
        }
      }
    }
  }
}
