@import "../../mixin";

footer {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 2rem;
  background-color: var(--color-bg-2);
  min-height: 15vh;

  @include media-up(desktop) {
    padding: 4rem;
  }

  @include media-down(tablet) {
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem 3rem 1rem;
    min-height: unset;
  }

  @include media-down(mobile) {
    text-align: center;
  }

  .footer-row {
    p {
      font-size: 0.9rem;
      color: var(--color-text-caption);
      margin: 0;
      max-width: unset;

      a {
        font-family: var(--font-family-primary-medium);
      }
    }

    &.second {
      display: flex;
      justify-content: left;
      flex-direction: row;
      margin-right: 1rem;

      @include media-down(desktop) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0;

        p {
          text-align: center;
        }
      }
    }

    &.third {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: right;
      flex: 1;

      @include media-down(tablet) {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

.social-links-wrapper {
  display: flex;
  flex-direction: row;

  @include media-down(tablet) {
    margin-top: 1rem;
  }

  a {
    cursor: pointer;
    transition: 0.2s all ease;

    &.social-link {
      font-family: var(--font-family-primary-bold);
      color: var(--color-text-social-links);
      font-size: 0.9rem;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
}
