@import "mixin";

:root {
  // color names from https://www.color-name.com

  // color
  --color-bg: #f9f6f3;
  --color-bg-2: #e6e0d1;
  --color-bg-semi-transparent: #f2efec7b; //(50% opacity)
  --color-tag-bg-1: #1da094;
  --color-tag-bg-2: #5f71f4;
  --color-tag-bg-3: #b45c1c;

  --color-bg-feature-1: #e1dcee;
  --color-bg-feature-2: #dce4ce;
  --color-bg-feature-3: #e9e3d5;
  --color-bg-feature-4: #e7d8cc;

  --color-text-h1: #222222;
  --color-text-h2: #000000;
  --color-text-h3: #222222;
  --color-text-p: #4b4b4b;
  --color-text-caption: #707070;
  --color-text-tag: #ffffff;
  --color-text-link: #5d6ff3;
  --color-text-social-links: #b45c1c;
  --colot-text-accent: #15841d;

  --color-text-link-primary: #e6a1e5; //Medium Lavender Magenta
  --color-text-link-secondary: #f8cd7b; //Granny Smith Apple

  --color-button-bg: #ffffff;
  --color-button-shadow: #c7beb470;
  --color-button-shadow-hover: #c7beb4;

  --color-border: #c7be95;
  --color-border-active: #5d6ff3;

  // typography
  --font-family-primary-extrabold: "PlusJakartaSans-ExtraBold", sans-serif;
  --font-family-primary-bold: "PlusJakartaSans-Bold", sans-serif;
  --font-family-primary-semibold: "PlusJakartaSans-SemiBold", sans-serif;
  --font-family-primary-medium: "PlusJakartaSans-Medium", sans-serif;
  --font-family-primary-regular: "PlusJakartaSans-Regular", sans-serif;
  --font-family-heading: "Gilroy-ExtraBold", sans-serif;
}

/*=============================================>>>>>
= Typography (fonts) =
===============================================>>>>>*/
/* Gilroy Extrabold */
/* https://www.tinkov.info/gilroy.html */

@font-face {
  font-family: "Gilroy-ExtraBold";
  font-display: swap;
  /* it works like this if the file sits in dist and doesn't load through webpack */
  /* src: url('fonts/GilroyExtrabold.woff2') format('truetype'); */

  /* it works like this if used in webpack */
  src: url("./fonts/Gilroy-ExtraBold.woff2") format("truetype");
}

/* Plus Jakarta Sans */
/* https://tokotype.github.io/plusjakarta-sans/ */

@font-face {
  font-family: "PlusJakartaSans-Regular";
  font-display: swap;
  /* it works like this if the file sits in dist and doesn't load through webpack */
  /* src: url('fonts/PlusJakartaSans-Regular.woff2') format('truetype'); */

  /* it works like this if used in webpack */
  src: url("./fonts/PlusJakartaSans-Regular.woff2") format("truetype");
}

@font-face {
  font-family: "PlusJakartaSans-Medium";
  font-display: swap;
  /* it works like this if the file sits in dist and doesn't load through webpack */
  /* src: url('fonts/PlusJakartaSans-Medium.woff2') format('truetype'); */

  /* it works like this if used in webpack */
  src: url("./fonts/PlusJakartaSans-Medium.woff2") format("truetype");
}

@font-face {
  font-family: "PlusJakartaSans-SemiBold";
  font-display: swap;
  /* it works like this if the file sits in dist and doesn't load through webpack */
  /* src: url('fonts/PlusJakartaSans-SemiBold.woff2') format('truetype'); */

  /* it works like this if used in webpack */
  src: url("./fonts/PlusJakartaSans-SemiBold.woff2") format("truetype");
}

@font-face {
  font-family: "PlusJakartaSans-Bold";
  font-display: swap;
  /* it works like this if the file sits in dist and doesn't load through webpack */
  /* src: url('fonts/PlusJakartaSans-Bold.woff2') format('truetype'); */

  /* it works like this if used in webpack */
  src: url("./fonts/PlusJakartaSans-Bold.woff2") format("truetype");
}

@font-face {
  font-family: "PlusJakartaSans-ExtraBold";
  font-display: swap;
  /* it works like this if the file sits in dist and doesn't load through webpack */
  /* src: url('fonts/PlusJakartaSans-ExtraBold.woff2') format('truetype'); */

  /* it works like this if used in webpack */
  src: url("./fonts/PlusJakartaSans-ExtraBold.woff2") format("truetype");
}

/*=============================================>>>>>
= Other =
===============================================>>>>>*/

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

body {
  margin: 0;
  background-color: var(--color-bg);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

main {
  width: 100vw;
  box-sizing: border-box;

  @include media-up(desktop) {
    align-items: center;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}

h1 {
  font-family: var(--font-family-heading), sans-serif;
  color: var(--color-text-h1);
  font-size: 2.85rem;
  line-height: 1.25;
  text-shadow: 0 0 1rem var(--color-glow);
  letter-spacing: -0.02rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include media-up(desktop) {
    font-size: 3.25rem;
  }

  @include media-down(tablet) {
    font-size: 2.5rem;
  }

  @include media-down(mobile) {
    font-size: 2rem;
  }
}

h2 {
  font-family: var(--font-family-heading), sans-serif;
  color: var(--color-text-h2);
  font-size: 2.5rem;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include media-up(desktop) {
    font-size: 2.75rem;
  }

  @include media-down(tablet) {
    font-size: 2rem;
  }
}

h3 {
  font-family: var(--font-family-heading), sans-serif;
  color: var(--color-text-h1);
  font-size: 2.25rem;
  line-height: 1.25;
  margin-top: 0;

  @include media-up(desktop) {
    font-size: 2.5rem;
  }

  @include media-down(tablet) {
    font-size: 1.75rem;
  }

  @include media-down(small-mobile) {
    font-size: 1.5rem;
  }
}

p {
  font-family: var(--font-family-primary-medium);
  color: var(--color-text-p);
  font-size: 1.125rem;
  line-height: 1.6;
  max-width: 54rem;
  word-spacing: 0.015rem;

  a {
    color: var(--color-text-link);
    font-family: var(--font-family-primary-bold);
  }

  @include media-up(desktop) {
    font-size: 1.25rem;
  }

  @include media-down(mobile) {
    font-size: 1.05rem;
  }

  b {
    font-family: var(--font-family-primary-bold);
  }

  a {
    cursor: pointer;
    transition: 0.2s all ease;
    &:hover {
      text-shadow: 0 0 0.5rem var(--color-text-glow);
      text-decoration: underline;
    }
  }

  ol {
    padding-left: 1.875rem;

    li {
      list-style-type: "🌱  ";
      margin-bottom: 0.5rem;
    }
  }
}

.link {
  font-family: var(--font-family-primary-semibold);
  text-decoration: none;
  transition: 0.2s text-decoration ease;

  &:hover {
    text-decoration: underline;
  }

  &.primary {
    color: var(--color-text-link-primary);
  }

  &.secondary {
    color: var(--color-text-link-secondary);
  }
}

.caption {
  font-family: var(--font-family-primary-medium);
  color: var(--color-text-caption);
  font-size: 1.375rem;
  line-height: 1.45;
  margin: 0.5rem 0;
}

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  box-sizing: border-box;

  // for 12.9 inch ipad pro in vertical position:
  @media only screen and (min-height: 75rem) {
    min-height: unset;
  }

  @include media-up(desktop) {
    padding: 6rem;
  }

  @include media-down(tablet) {
    min-height: unset;
    padding: 5rem 3rem 4rem 3rem;
  }

  @media only screen and (max-height: 75rem) {
    min-height: unset;
  }

  @include media-down(mobile) {
    min-height: unset;
    padding: 4rem 2rem;
  }

  @include media-down(small-mobile) {
    min-height: unset;
    padding: 3rem 1rem;
  }

  h2 {
    margin-top: 1rem;
  }

  .glow-wrapper {
    box-shadow: 0 0 2rem var(--color-glow);
    border-radius: 1rem;
    padding: 2rem 2.5rem;
    background-color: var(--color-bg-semi-transparent);

    @include media-down(mobile) {
      padding: 1.5rem;
    }

    &.small {
      padding: 1rem;
    }
  }

  .get-involved-subsection {
    margin: 0 3rem;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.items-center {
  align-items: center;
}

.columns-wrapper {
  display: flex;
  flex-direction: row;

  &.two-third {
  }

  &.one-third {
    @include media-down(tablet) {
      flex-direction: column;
    }
    .glow-wrapper {
      width: 33.33%;
      box-sizing: border-box;

      &:not(:last-child) {
        margin-right: 2rem;
      }

      @include media-down(tablet) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1.5rem;
      }
    }
  }

  &.half {
    @include media-down(mobile) {
      flex-direction: column;
    }
    .glow-wrapper {
      width: 50%;
      box-sizing: border-box;

      @include media-down(mobile) {
        width: 100%;
      }

      &:not(:last-child) {
        margin-right: 2rem;
      }

      @include media-down(mobile) {
        margin-right: 0;
        margin-bottom: 1.5rem;
      }
    }
  }
}

// Hero

.section.hero {
  flex-direction: row;
  align-items: center;
  justify-content: left;
  flex: 1 1;
  padding-top: 7.25rem;
  padding-right: 0rem;
  margin-left: 0;
  min-height: 100vh;
  overflow-x: hidden;

  // for 12.9 inch ipad pro in vertical position:
  @media only screen and (min-height: 75rem) {
    min-height: unset;
  }

  .hero-content-wrapper {
    flex: 1;

    .tags {
      display: flex;
      flex-direction: row;
      width: 100%;
      flex-wrap: wrap;

      .tag-wrapper {
        background-color: var(--color-tag-bg-1);
        padding: 0.25rem 0.625rem 0.325rem 0.625rem;
        font-family: var(--font-family-primary-bold), sans-serif;
        color: var(--color-text-tag);
        font-size: 0.75rem;
        border-radius: 0.375rem;
        width: fit-content;
        white-space: wrap;
        min-width: fit-content;
        margin-bottom: 0.3rem;

        &:not(:last-child) {
          margin-right: 0.375rem;
        }

        &.secondary {
          background-color: var(--color-tag-bg-2);
        }

        &.tertiary {
          background-color: var(--color-tag-bg-3);
        }

        @include media-up(desktop) {
          font-size: 0.9rem;
        }

        @include media-down(mobile) {
          margin-bottom: 0.5rem;
        }
      }
    }

    .heading {
      &.tablet {
        display: none;
      }
      &.non-tablet {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
      }

      @include media-down(tablet) {
        &.tablet {
          display: flex;
        }
        &.non-tablet {
          display: none;
        }
      }
    }
  }

  .hero-visual-wrapper {
    background-image: url("./images/acorn-hero-visual.png");
    flex: 1;
    box-sizing: border-box;
    padding: 2rem;
    position: relative;
    width: 50%;
    aspect-ratio: 1.25/1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: left;
    box-sizing: border-box;

    .hero-visual {
      max-height: 100%;
      max-width: 100%;
    }
    .hero-visual-mobile {
      display: none;
    }
  }

  @include media-up(desktop) {
    .hero-visual-wrapper {
      padding-bottom: 6rem;
      min-width: 50%;
    }
  }

  @include media-down(tablet) {
    padding-top: 7rem;
    min-height: fit-content;

    .hero-visual-wrapper {
      margin: 0;
      padding: 1rem;
      flex: unset;
      width: 100%;

      .hero-visual {
        display: none;
      }

      .hero-visual-mobile {
        display: flex;
        max-height: 100%;
        max-width: 100%;
      }
    }

    .hero-content-wrapper {
      width: 100%;
      padding-top: 0;
      flex: unset;
    }
  }

  @include media-down(mobile) {
    flex-direction: column;
    padding-top: 6rem;
    padding-right: 2rem;
    padding-bottom: 2rem;

    .hero-visual-wrapper {
      background-image: url("./images/acorn-hero-visual-mobile.png");
      background-size: contain;
      aspect-ratio: 1.5/1;
      margin: 0;
      width: 100%;
      right: unset;
      position: relative;
    }
    .hero-content-wrapper {
      P {
        max-width: 100%;
      }
    }
  }
}

.section-heading.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 2rem;
  box-sizing: border-box;

  h2 {
    margin-bottom: 1rem;
    text-align: center;
  }
  p {
    margin-top: 0;
    text-align: center;
  }

  @include media-down(mobile) {
    padding-bottom: 4rem;
  }
}

.section.why {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 4rem;
  padding-bottom: 4rem;

  &.feature-1 {
    background-color: var(--color-bg-feature-1);
  }

  &.feature-2 {
    background-color: var(--color-bg-feature-2);
  }

  &.feature-3 {
    background-color: var(--color-bg-feature-3);
  }

  &.feature-4 {
    background-color: var(--color-bg-feature-4);
  }

  @include media-down(tablet) {
    padding-top: 3rem;
    padding-bottom: 3rem;
    top: 1.5em;
  }

  @include media-down(mobile) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  @include media-down(small-mobile) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    top: 0.5rem;
    margin: 0.5rem;
    border-radius: 1rem;
  }
}

.section.who {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
  padding-right: 0;
  align-items: center;

  // for 12.9 inch ipad pro in vertical position:
  @media only screen and (min-height: 75rem) {
    min-height: unset;
    height: fit-content;
  }

  @include media-down(small-tablet) {
    padding-right: 2rem;
    padding-bottom: 4rem;
  }

  @include media-down(mobile) {
    .button-wrapper {
      display: none;
    }
  }

  .who-content-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
    height: 100%;
    flex: 1;
    margin-top: 2rem;

    @include media-up(desktop) {
      width: unset;
      margin-top: 0;
      flex: 1;
    }

    @include media-down(tablet) {
      margin-bottom: 2rem;
      margin-right: 0;
    }

    @include media-down(small-tablet) {
      width: 100%;
      margin-top: 0;
    }
  }

  .who-visual-wrapper {
    background-image: url("./images/acorn-who-is-involved.png");
    flex: 1;
    box-sizing: border-box;
    padding: 2rem;
    position: relative;
    flex: 1;
    max-width: 28rem;
    aspect-ratio: 1.1/1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: left;
    margin-top: 4rem;

    // for 12.9 inch ipad pro in vertical position:
    @media only screen and (min-height: 75rem) {
     margin-top: 0;
    }

    @include media-up(desktop) {
      width: 50%;
      max-width: 40rem;
    }

    @include media-down(tablet) {
      max-width: 20rem;
      margin-top: 0;
    }

    @include media-down(small-tablet) {
      display: none;
    }
  }

  p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .button-wrapper {
    margin-top: 0.5rem;
  }

  @include media-down(mobile) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 100vh;
    border-radius: 1rem;
    height: fit-content;
  }

  @include media-down(small-mobile) {
    padding-top: 2rem;
    padding-bottom: 2rem;
    top: 0.5rem;
    height: auto;
    margin: 0.5rem;
    border-radius: 1rem;
  }

  // .who-visual-wrapper {
  //   background-image: url("./images/acorn-feature-vis-1.png");
  //   width: 100%;
  //   height: 100%;
  //   position: absolute;
  //   background-size: contain;
  //   background-repeat: no-repeat;
  //   aspect-ratio: 1.5/1;
  //   margin: 0;
  //   width: 100%;
  //   right: unset;
  //   z-index: 0;
  //   opacity: 0.2;
  // }
}

// Download

.section.download {
  background-color: var(--color-bg-2);
  height: 85vh;
  min-height: unset;
  padding-bottom: 4rem;

  // for 12.9 inch ipad pro in vertical position:
  @media only screen and (min-height: 75rem) {
    height: fit-content;
  }

  @include media-down(tablet) {
    min-height: unset;
    height: fit-content;
    padding-bottom: 3rem;
  }

  .join-list-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    h3 {
      margin-right: 4rem;
    }

    .button-wrapper.with-background {
      margin-left: 0.75rem;
      padding: 0.5rem 1.5rem;
      min-width: fit-content;
    }
  }
}

// buttons

.buttons-row {
  display: flex;
  flex-direction: row;
  margin: 2.5rem 0 2rem 0;

  @include media-down(tablet) {
    margin: 1rem 0;
  }

  .button-wrapper:not(:last-child) {
    margin-right: 3rem;
  }

  a {
    text-decoration: none;
  }

  &.three {
    @include media-down(tablet) {
      flex-direction: column;

      .button-wrapper {
        margin-right: 0;
        margin-bottom: 1rem;
        width: 18rem;
      }
    }
  }
}

// mobile menu

.menu-mobile-icon {
  // z-index: 1;
  display: none;
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 2;
  cursor: pointer;
  padding: 0.5rem;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  &:hover {
    opacity: 0.8;
  }

  @include media-down(tablet) {
    display: block;
  }
}

// input

.input-wrapper {
  flex: 1;
  display: flex;
  position: relative;

  input {
    max-width: 25rem;
    border: 0.175rem solid var(--color-border);
    outline: none;
    font-size: 1.125rem;
    line-height: 1.45;
    color: var(--color-text-p);
    padding: 0.825rem 1.5rem;
    border-radius: 0.75rem;
    display: block;
    flex: 1;
    font-family: var(--font-family-primary-medium);
    transition: border 0.1s ease-in;

    &.invalid-input {
      border: 0.175rem solid #ff5d36;
    }

    &.valid-input {
      border: 0.175rem solid #00d6c8;
    }

    &:focus {
      border: 0.175rem solid var(--color-border-active);
    }

    &::placeholder {
      color: var(--color-text-caption);
    }
  }
}

a button.button-wrapper {
  text-decoration: none;
}

// for short screen heights

@media only screen and (max-height: 42rem) {
  .section.who {
    height: auto;
    padding: 4rem 0 3rem 3rem;
    margin-top: 4rem;

    @include media-down(small-tablet) {
      padding-right: 3rem;
    }

    .who-content-wrapper {
      margin-top: 0;
    }

    .who-visual-wrapper {
      margin-top: 1rem;
      max-width: 20rem;
    }
  }

  .section.why {
    position: relative;
    height: fit-content;

    .about-acorn-features-wrapper {
      .about-acorn-feature-wrapper {
        position: relative;
        opacity: 1;
        top: unset;
        margin-bottom: 4rem;

        .acorn-feature-content-wrapper {
          margin-right: 0;

          @include media-down(mobile) {
            margin-bottom: 1rem;
          }
        }

        &.feature-slide-2,
        &.feature-slide-4 {
          @include media-up(mobile) {
            flex-direction: row-reverse;

            .acorn-feature-content-wrapper {
              margin-left: 3rem;
            }
          }
        }

        &.feature-slide-1,
        &.feature-slide-3 {
          @include media-up(mobile) {
            .acorn-feature-content-wrapper {
              margin-right: 3rem;
            }
          }
        }
      }
    }
  }
}

.acorn-feature-slide-circles {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  top: 2rem;
  left: -2rem;
  height: 100%;
  position: sticky;

  @include media-down(mobile) {
    display: none;
  }
  .acorn-feature-slide-circle {
    background-color: var(--color-text-tag);
    height: 0.1rem;
    width: 0.1rem;
    border-radius: 50%;
    padding: 0.325rem;
    box-sizing: border-box;
    margin-bottom: 0.25rem;
    transition: opacity 0.1s ease;
    cursor: pointer;

    &:hover {
      background-color: var(--color-bg);
    }

    &.active {
      background-color: var(--color-border-active);
    }
  }
}
